@import './../../styles/index.scss';

.introduction {
    padding-top: 60px;
    padding-right: 20px;
    padding-left: 20px;
    color: $white;
    min-height: 30vh;

}
.title-text {
    color: $white;
    max-width: 60vw;
    text-align: center;
    font-size: 0.75rem;
}



@media screen and (min-width: $phone){
        .title-text{
            padding-top: 10px;
            font-size: 1.0rem;
        }
        .Usericon {
            height: 200px;
        }

    }   
  

