@import url('https://data.mjwcodr.de/fonts/opensans/stylesheet.css');

// font families
:root {
    font-family: 'Open Sans', 'Helvetica', 'Roboto', sans-serif;
}
// Open Sans
$Open-Sans : 'Open Sans', 'Helvetica', 'Roboto', sans-serif; 

// sizes
$font-xs : 8px;
$font-sm : 12px;
$font-md : 16px;
$font-lg : 20px;
$font-xl : 24px;
$font-xxl : 28px;


// wheights
